@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global {
    color: #EFF0F1;
    fontFamily: Ubuntu;
    fontSize: 14px;
    modalTransparency: 0;
    modalTransparencyBlur: 4;
    contentBackgroundColor: #232629;
    focusedTextSelectionColor: #3DADE8;
    cornerRadius: 2px;
    focusColor: #3DADE8;
    focusAlpha: 1;
    focusThickness: 1px;
}

s|WindowedApplication {
    backgroundColor: #31363B;
    backgroundAlpha: 1;
}

s|Button {
    fillColor: #31363B;
    borderColor: #6A6E72;
    skinClass: ClassReference("com.andrewgura.skins.buttons.BreezeButtonSkin");
}

s|Button:over {
    borderColor: #3DAEE9;
}

s|Button:down {
    fillColor: #3DADE8;
    borderColor: #3DAEE9;
}

s|Button:disabled {
    fillColor: #2F3439;
    borderColor: #41464A;
}

.breezeCloseButton {
    iconColor: #EFF0F1;
    skinClass: ClassReference("com.andrewgura.skins.buttons.CloseWindowButtonSkin");
}

.breezeCloseButton:over {
    iconColor: #FF98A2;
}
.breezeCloseButton:down {
    iconColor: #DA4453;
}

s|CheckBox {
    symbolColor: #3DADE8;
    skinClass: ClassReference("com.andrewgura.skins.BreezeCheckboxSkin");
}

s|TextInput {
    borderColor: #A3A6A8;
    skinClass: ClassReference("com.andrewgura.skins.BreezeTextInputSkin");
}

mx|MenuBar {
    color: #EFF0F1;
    backgroundSkin: ClassReference("com.andrewgura.skins.BreezeMenuBarSkin");
    itemSkin: ClassReference("com.andrewgura.skins.BreezeMenuItemSkin");
    menuStyleName: "breezeMenu";
}

.breezeMenu {
    contentBackgroundColor: #2A2E32;
    contentBackgroundAlpha: 1;
    color: #EFF0F1;
    textSelectedColor: #EFF0F1;
    textRollOverColor: #EFF0F1;
    selectionColor: #3DAEE9;
    rollOverColor: #3DAEE9;
    selectionDisabledColor: #2A2E32;
    borderStyle: inset;
    borderColor: #5D6164;
    borderAlpha: 1;
}

s|List {
    selectionColor: #3DAEE9;
    rollOverColor: #334E5E;
}

s|DataGrid {
    selectionColor: #3DAEE9;
    rollOverColor: #334E5E;
    alternatingRowColors: #232629, #32373C;
    alternatingRollOverColors: #284150, #334E5E;
    skinClass: ClassReference("com.andrewgura.skins.BreezeDataGridSkin");
    symbolColor: #EFF0F1;
}

s|SkinnablePopUpContainer {
    titleColor1: #3B4147;
    titleCOlor2: #31363B;
    skinClass: ClassReference("com.andrewgura.skins.popups.BasePopupSkin");
}

s|VScrollBar {
    skinClass: ClassReference("com.andrewgura.skins.scroller.VScrollBarSkin");
}

s|HScrollBar {
    skinClass: ClassReference("com.andrewgura.skins.scroller.HScrollBarSkin");
}

s|TabBar {
    skinClass: ClassReference("com.andrewgura.skins.BreezeTabBarSkin");
}

mx|ProgressBar {
    trackSkin: ClassReference("com.andrewgura.skins.BreezeProgressBarTrackSkin");
    barSkin: ClassReference("com.andrewgura.skins.BreezeProgressBarSkin");
}