@namespace "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global {
    color: #EFF0F1;
    fontFamily: Ubuntu;
    fontSize: 14px;
    modalTransparency: 0;
    modalTransparencyBlur: 4;
    contentBackgroundColor: #232629;
    focusedTextSelectionColor: #3DADE8;
    cornerRadius: 2px;
    focusColor: #3DADE8;
    focusAlpha: 1;
    focusThickness: 1px;
}

WindowedApplication {
    backgroundColor: #31363B;
    backgroundAlpha: 1;
}

Button {
    skinClass: ClassReference("com.andrewgura.skins.buttons.BreezeButtonSkin");
}

ToggleButton {
    skinClass: ClassReference("com.andrewgura.skins.buttons.BreezeToggleButtonSkin");
}

Button, ToggleButton {
    fillColor: #31363B;
    borderColor: #6A6E72;
}

Button:over, ToggleButton:over {
    borderColor: #3DAEE9;
}

Button:down, ToggleButton:down, ToggleButton:overAndSelected, ToggleButton:downAndSelected {
    fillColor: #3DADE8;
    borderColor: #3DAEE9;
}

Button:disabled, ToggleButton:disabled {
    fillColor: #2F3439;
    borderColor: #41464A;
}

ToggleButton:upAndSelected {
    fillColor: #575B5F;
    borderColor: #575B5F;
}

.breezeCloseWindowButton {
    iconColor: #EFF0F1;
    skinClass: ClassReference("com.andrewgura.skins.buttons.CloseWindowButtonSkin");
}

.breezeCloseWindowButton:over {
    iconColor: #FF98A2;
}

.breezeCloseWindowButton:down {
    iconColor: #DA4453;
}

.breezeCloseTabButton {
    iconColor: #acadae;
    skinClass: ClassReference("com.andrewgura.skins.buttons.CloseTabButtonSkin");
}

.breezeCloseTabButton:over {
    iconColor: #EFF0F1;
}

.breezeCloseTabButton:down {
    iconColor: #DA4453;
}

CheckBox {
    symbolColor: #3DADE8;
    skinClass: ClassReference("com.andrewgura.skins.BreezeCheckboxSkin");
}

TextInput {
    borderColor: #A3A6A8;
    skinClass: ClassReference("com.andrewgura.skins.BreezeTextInputSkin");
}

mx|MenuBar {
    color: #EFF0F1;
    backgroundSkin: ClassReference("com.andrewgura.skins.BreezeMenuBarSkin");
    itemSkin: ClassReference("com.andrewgura.skins.BreezeMenuItemSkin");
    menuStyleName: "breezeMenu";
}

.breezeMenu {
    contentBackgroundColor: #2A2E32;
    contentBackgroundAlpha: 1;
    color: #EFF0F1;
    textSelectedColor: #EFF0F1;
    textRollOverColor: #EFF0F1;
    selectionColor: #3DAEE9;
    rollOverColor: #3DAEE9;
    selectionDisabledColor: #2A2E32;
    borderStyle: inset;
    borderColor: #5D6164;
    borderAlpha: 1;
}

List {
    selectionColor: #3DAEE9;
    rollOverColor: #334E5E;
}

DataGrid {
    selectionColor: #3DAEE9;
    rollOverColor: #334E5E;
    alternatingRowColors: #232629, #32373C;
    alternatingRollOverColors: #284150, #334E5E;
    skinClass: ClassReference("com.andrewgura.skins.BreezeDataGridSkin");
    symbolColor: #EFF0F1;
}

SkinnablePopUpContainer {
    titleColor1: #3B4147;
    titleCOlor2: #31363B;
    skinClass: ClassReference("com.andrewgura.skins.popups.BasePopupSkin");
}

VScrollBar {
    skinClass: ClassReference("com.andrewgura.skins.scroller.VScrollBarSkin");
}

HScrollBar {
    skinClass: ClassReference("com.andrewgura.skins.scroller.HScrollBarSkin");
}

TabBar {
    skinClass: ClassReference("com.andrewgura.skins.BreezeTabBarSkin");
}

mx|ProgressBar {
    trackSkin: ClassReference("com.andrewgura.skins.BreezeProgressBarTrackSkin");
    barSkin: ClassReference("com.andrewgura.skins.BreezeProgressBarSkin");
}